#include <windows.h>

MYICON	ICON	"c:\\fly\\src\\general\\wfly.ico"
MYPIC	BITMAP	"c:\\fly\\src\\general\\win95in.bmp"
BIGICON	BITMAP	"c:\\fly\\src\\general\\bigicon.bmp"

FlyingCorps DIALOG  FIXED IMPURE 10, 10, 223, 71
STYLE DS_MODALFRAME | WS_OVERLAPPED | WS_CAPTION | WS_VISIBLE | WS_SYSMENU
CAPTION "FlyingCorps"
FONT 8, "Helv"
{
	CONTROL "Play",        101, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 79, 5, 133, 17
	CONTROL "Uninstall",   302, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 79, 27, 133, 17
	CONTROL "Cancel",      102, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 79, 49, 133, 17
}


Install DIALOG FIXED IMPURE  10, 10, 208, 143
STYLE DS_MODALFRAME | WS_OVERLAPPED | WS_CAPTION | WS_VISIBLE | WS_SYSMENU
CAPTION "Install Options"
FONT 8, "Helv"
{
	CONTROL "Install",               IDOK, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 11, 119, 83, 16
	CONTROL "Abort",                 IDCANCEL, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 113, 119, 83, 16
	CONTROL "",                      101, "EDIT", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 7, 15, 193, 14
	CONTROL "Destination Directory", 112, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 7, 5, 186, 10
	CONTROL "Large",                 102, "BUTTON", BS_AUTORADIOBUTTON | BS_LEFT | WS_CHILD | WS_VISIBLE, 15, 46, 181, 15
	CONTROL "Medium",                103, "BUTTON", BS_AUTORADIOBUTTON | BS_LEFT | WS_CHILD | WS_VISIBLE, 15, 60, 171, 15
	CONTROL "Small",                 104, "BUTTON", BS_AUTORADIOBUTTON | BS_LEFT | WS_CHILD | WS_VISIBLE, 15, 75, 165, 15
	CONTROL "Create Menu Item",      105, "BUTTON", BS_AUTOCHECKBOX | BS_LEFT | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 99, 138, 16
	CONTROL "Installation Size",     108, "BUTTON", BS_GROUPBOX | BS_LEFT | WS_CHILD | WS_VISIBLE, 7, 35, 193, 59
}


ProgressDlg DIALOGEX FIXED IMPURE  10, 10, 249, 79
STYLE DS_MODALFRAME | WS_OVERLAPPED | WS_CAPTION | WS_VISIBLE | WS_SYSMENU
CAPTION "Installation Progress"
FONT 8, "Helv"
{
	CONTROL "",       402, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 15, 10, 127, 12
	CONTROL "",       405, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 15, 29, 215, 12
	CONTROL "",       401, "EDIT", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_BORDER, 16, 49, 215, 20, WS_EX_NOPARENTNOTIFY
	CONTROL "Cancel", 406, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 163, 9, 60, 14
	CONTROL "",       407, "STATIC", SS_CENTER | WS_CHILD | WS_VISIBLE, 111, 55, 23, 9
}


Uninstall DIALOG FIXED IMPURE  10, 10, 195, 79
STYLE DS_MODALFRAME | WS_OVERLAPPED | WS_CAPTION | WS_VISIBLE | WS_SYSMENU
CAPTION "Uninstall Options"
FONT 8, "Helv"
{
	CONTROL "Uninstall",           IDOK, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 8, 57, 83, 16
	CONTROL "Abort",               IDCANCEL, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 103, 57, 83, 16
	CONTROL "Uninstall Main Game", 201, "BUTTON", BS_AUTOCHECKBOX | BS_LEFT | WS_CHILD | WS_VISIBLE, 7, 8, 171, 10
	CONTROL "Delete Save Games",   202, "BUTTON", BS_AUTOCHECKBOX | BS_LEFT | WS_CHILD | WS_VISIBLE, 7, 23, 171, 10
	CONTROL "Delete Stills",       203, "BUTTON", BS_AUTOCHECKBOX | BS_LEFT | WS_CHILD | WS_VISIBLE, 7, 38, 171, 10
}




